api-gateway/node_modules/
booking-service/node_modules/
movie-service/node_modules/
notification-service/node_modules/
payment-service/node_modules/
screen-service/node_modules/
seat-service/node_modules/
theatre-service/node_modules/
user-service/node_modules/
api-gateway/.env
booking-service/.env
movie-service/.env
notification-service/.env
payment-service/.env
screen-service/.env
seat-service/.env
theatre-service/.env
user-service/.env


